<!DOCTYPE html>
<html>
<head>
  <link href="/static/app.css" media="all" rel="stylesheet" type="text/css" />
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  {% for s in __js -%}
  <script src="{{ s }}"></script>
  {% endfor -%}
  {% block head %}{% endblock -%}
</head>
<body>

<div class='container'>
<a href="/ds/">DS</a>
<a href="/ds/conf">Conf</a>
<a href="/ds/map">MAP</a>
<a href="/ds/shell">Shell</a>
<a href="/ds/work">Work</a>
<a href="/ds/cookies">Cookies</a>
<a href="/ds/session">Session</a>
<a href="/doc/">Documentation</a>
</div>

<a href="/">WorkJS</a>
<a href="/register">register</a>
<a href="/login">login</a>
<a href="/logout">logout</a>

<div style="position:absolute;top:0;right:10px;">{{ username }}</div>
  <h1>{{ pagetitle }}</h1>
  {% block content %}{% endblock %}
  <script>{% block script %}{% endblock %}</script>
</body>
</html>
